:root{
    --light-gray:rgb(246, 253, 255); 
    --light-pink:rgb(252 252 252); 
    --gray-shade:rgb(65 60 64 / 88%);   
    --maxinumWidth:100%;
    --generalFontFamily:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*,  *:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/********** BODY css applied to whole body of page */
body {
    margin: 0;
    padding: 0;
    background-color:var(--bgcolor);
    font-family: var (--generalFontFamily);
    font-size: small;
    min-height: 100vh;
    
  }

/********* <main> *******/
main {
    width: 60%;
    margin: 0px auto;
    background-color:var(--light-gray);
    /* border: 4px solid #393b4f; */
}
  
/********** header css *******/
header {
   
    background-color:var(--light-pink);
    display: flex;
    justify-content: flex-end;
    width: var(--maxinumWidth);
    padding: 10px  ;
}
/* Navigation and its anchor tag CSS */
.navMenu {
    padding-top: 15px;
    margin-right: 20px;
    
}

nav a {
    color: var(--gray-shade);
    text-decoration: none;
    margin-left: 25px;
    font-size: medium;
}
/* Hover pseudo Class applied to Menu items */
nav a:hover{
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
}
/* header level 1 CSS */
h1 {
    display: inline-block;  
}
/********** Banner section starts *******/
.banner
{
    height: 400px;
     width: var(--maxinumWidth);
    background-color:var(--light-pink);
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url("../images/bgBanner.jpg");
    padding: 50px;
}
/* Self Image CSS */
img{
    height: 350px;
    width: 220px;
 }
 .bannerText   {
    color: var(--gray-shade);
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    margin-bottom: 30px;
    align-self: flex-end;
    font-family: cursive;
}
.bannerText h1::first-letter{
    color: red;
    font-weight: 900;
    font-size:60px;
    font-family: cursive;
}

/********** Content section starts *******/
#contentWrapper{
    padding: 0 50px 50px;
}
.contentSection
{
    display: inline-flex;
    width: var(--maxinumWidth); 
    margin:10px 0;
}
.contextHeader{
    text-align: right;
    width: 200px;
    border-right: 4px solid rgba(109, 100, 108, 0.877);
    padding-right: 10px;
    color: var(--gray-shade);
    font-size: 20px;
}
.contextHeader h1::first-letter{
    font-weight: 900;
    font-size:40px;
    
}
.contentDetail {
     width: var(--maxinumWidth);
    margin-left: 20px;
}
.contentDetail p{
    color: var(--gray-shade);
    font-size: 15px;
    padding: 10px;

}
/********** Grid Css Control starts *******/
.workgrid-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-auto-flow: dense;
    grid-gap: 15px;
    min-height: 400px;
}
/* set all workgrid items css */
.workgrid-item {
    display: flex;
     width: var(--maxinumWidth);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
}
/* grouped image div with anchor tag */
.groupImage{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    border: 5px solid lightblue;
    border-radius: 5px;
    font-size: 12px;
   
    
/* Center and scale the image nicely */
}
.flex-items{
    position: absolute;
    padding: 10px;
    font-size: 20px;  
    background-color: lightblue;
    color: var(--gray-shade);
}
/* separate CSS created for span , to avoid issue for flex-items */
.item1{
    grid-row: 1/ span 2;
    grid-column: 1/ span 2;
}
.item-1 {
    background-image: url("../images/horiseon.png"); 
     width: var(--maxinumWidth);   
}

.item-2{
    background-image: url("../images/surf.jpeg");
     width: var(--maxinumWidth);  
}
.item-3{
    background-image: url("../images/calculator.jpeg");
     width: var(--maxinumWidth);  
}
.item-4{
    background-image: url('https://via.placeholder.com/1000/393b4f/fb3e55?text=Placeholder');
     width: var(--maxinumWidth);  
}
.item-5{
    background-image: url('https://via.placeholder.com/1000/393b4f/fb3e55?text=Placeholder');
     width: var(--maxinumWidth);  
}
.workgrid-item:hover{
    opacity: 1;
}
.flex-items p{
    font-size: 12px;
}
.linksDetail{
    display: inline-flex;
    justify-content: flex-start;
}
.linksDetail a:hover{
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
}

 

/* Width at 600px and below */
@media screen and (max-width: 600px) {

    main {
      /* Box-model */
      width: var(--maxinumWidth);
      padding: 10px;
      
    }
    #contentWrapper
    {
       width: var(--maxinumWidth);
    }
  }
  